
/*BEIGE: 9a751e */

li{list-style: none;}

.view {
    margin: 0 0 50px 50px;
    display: inline-block;
    font-size: 12px;
}

.view a:hover, .view a.active{color: #9a751e;}

.grid .property_search_result_thumbnail img{
display: inline;
margin: 0 0 15px 0;
height: 195px;
width: 280px;
}
.grid .property_search_result{
float: left;
margin: 0 0 30px 0;
padding: 0 5px 0 0;
max-width: 280px;
}
.grid h1 {
font-size: 18px;
}
.list h1 {
    font-size: 20px;
}
.list .property_search_result{
    width: 100%!important;
    margin: 0 0 30px 0;
    float: left!important;
    left:0!important;
    position: relative!important;
}


/*//// STATUS*/
	div.property_search_result.Active{
		background-color: rgba(0,0,0,0.1);
	}
	div.property_search_result.Sold{
		opacity: 0.5;
	}
	
	div#result{display: inline-block; width: 100%;}

	div#result .tuff.projects_masonry_holder .portfolio_title{font-size: 18px;}
	div#result .projects_masonry_holder article .project_category{
		font-size: 14px;
		font-weight: 300;
		line-height: 1.2em;
		text-transform: uppercase;
		letter-spacing: 1px
	}

	div#result div.tuff.projects_masonry_holder.portfolio_one_by_one.list{padding-left: 7%;}

	
	div#error{
	
	color: green!important;
	position: fixed;
	background: rgba(255,255,255,0.9);
	display: inline-block;
	/*top:-30px;*/
	bottom: 0;
	height: 70px;
	font-size: 10px;
	font-family: 'Andale Mono',sans-serif;
	z-index: 500;
	}

/*//////// SINGLE VIEW //////*/

	.single_view_media{
		height: 770px; /*!!! must match inline on #gmap_canvas and other*/
	
	}
	
	.single_view_description{
		position: relative;
		display: inline-block;
		width: 570px;
		height: 560px;
		float: right;
		margin: -150px 50px 50px 0;
		z-index: 500;
		background: rgba(255,255,255,0.9);
	}
	
	.single_view_info{
		position: absolute;
		display: inline-block;
		top:10px;
		left:0;
		padding: 10px;
	}
	
	.arrange{
		visibility: hidden;
		right: 0;
	}
	
	.panel{float: left;}
	div.half_width{width: 50%;}
	div.panel.full_width{width: 100%;}
	
	.info_panel_nav li{
		display: inline-block;
	}
	
	.arrange_viewing_button{
		position: absolute;
		top:10px;
		right: 20px;
		width: 155px;
		height: 22px;
		background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="155px" height="22px" viewBox="0 0 155 22" enable-background="new 0 0 155 22" xml:space="preserve"><path class="single_view_navigation_svg" fill="#9a751e" d="M149.947,0L155,5.159v11.682L149.947,22H5.053L0,16.841V5.159L5.053,0H149.947z"/></svg>');
		line-height: 1.6em;
		opacity: 0.9;
		text-align: center;
	}

	.arrange_viewing_mailto_button{
		position: absolute;
		right: 20px;
		top: 40px;
		background: none;
	}

	.arrange_viewing_phone_button{
		position: absolute;
		right: 20px;
		top: 60px;
		background: none;
	}

	
	ul.result{
	padding: 10px;
	}
	
	ul.itemFacts{
		padding: 10px;
		overflow-y: auto;
		height: 365px;
	}
	
	.page_share .social_share_title{text-transform: uppercase;;}
	
	.single_view_navigation{
		position: absolute;
		left:20px;
		top:500px;
		z-index:5000;
	}
	
	.single_view_navigation ul li {
		margin: 10px 0;
		width: 155px;
		height: 22px;
		background: none;
		background-color: transparent!important;
		cursor: pointer;
		text-align: center;
		color: white;
		font-weight: 600;
		background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="155px" height="22px" viewBox="0 0 155 22" enable-background="new 0 0 155 22" xml:space="preserve"><path class="single_view_navigation_svg" fill="#ccc" d="M149.947,0L155,5.159v11.682L149.947,22H5.053L0,16.841V5.159L5.053,0H149.947z"/></svg>');
		opacity: 0.9;
		line-height: 1.6em;
		text-transform: uppercase;
	}
	
	.single_view_navigation_svg{
		fill: #ACABA6!important;
	}
	
	.single_view_navigation ul li:hover{
		cursor: pointer;
	}
	
	.single_view_navigation ul li:hover + .single_view_navigation_svg{
		fill: red!important;
	}
	
	
	
	.single_view_navigation ul li a{
		display: block;
		padding: 4px 2px;
		text-align: center;
		/*background: white;*/
	}
	
	
	
	h3.mainTitle{
		position: absolute;
		left:20px;
		top:450px;
		z-index: 100;
	}
	
	.out { opacity: 0; }
	
	.in { opacity: 1; }

/*/////// SCROLLBAR /////////*/

	.single_view_info.description ::-webkit-scrollbar {
    	width: 5px;
	}
 
	.single_view_info.description ::-webkit-scrollbar-track {
    	display: none;
	}
 
	.single_view_info.description ::-webkit-scrollbar-thumb {
    	border-radius: 10px;
    	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    	background-color: #9a751e;
	}

/*/////// FLOORPLAN /////////*/

	#floorplan_container{
		display: none;
	}

/*/////// EPC /////////*/

	#epc_container{
		display: none;
	}

/*/////// VIDEO /////////*/

	#myvid{
		transition: opacity .55s ease-in-out;
	}

/*/////// MAP /////////*/

	#map_container{
		top:0;
		left:0;
		z-index: 0;
		overflow:hidden;
		height:770px; /*// must match inline on #gmap_canvas*/
		width:100%; /*//// must match inline on #gmap_canvas*/
		position: absolute!important; 
		transition: opacity .55s ease-in-out;
	}
	
	div.gmnoprint > div.gmnoprint[controlwidth="28"]{top:40px!important;}


/*//////////// FORM STYLING ////////////*/

	div#filtersform{ margin-left: 10%;}

	div#filtersform small{
		font-family: "adobe-caslon-pro", serif;
		font-style: italic;
		color: #9a751e;
		margin-left: 10px;
	}
	h1#app_header{
		margin: 20px 0 20px -7%;
	}

	/*RECORD TYPES //////////*/
	fieldset#record-types{
		display: inline-block;
		float: left;
		margin-right: 50px;
	}

	form#theForm.PB_request_form{display: inline-block;}

	fieldset#record-types input[type="radio"]{
		display: none;
	}

	#filtersform #record-types label{
		display:inline-block;
    	padding:4px 11px;
    	cursor: pointer;
    	font-weight: 300;
    	color: #000;
	}

	#record-types label{cursor: pointer;}

	#filtersform #record-types input[type="radio"]:checked + label, #record-types input[type="radio"]:checked + label {
    	color: #9a751e;
    	font-weight: 600;
    	cursor: default;
	}

	/*PARAMETERS*/

	select[name="propertytype"]{width: 170px;}
	select[name="bedrooms_from"]{width: 195px;}
	input[name="size_from"]{width: 195px!important; margin-left: 175px;}

	/*//////// SLIDER */


	/*BOTTOM FILTERS///////////*/

	fieldset#bottomFilters{margin-top: 40px;}

		/*PROPERTY STATUS /////////*/
		fieldset#property-status{display: inline-block;}
		fieldset#property-status input[type="radio"]{
			display: none;
		}
	
		#property-status label{
			display:inline-block;
    		padding:0;
    		cursor: pointer;
    		font-weight: 300;
			font-size: 12px;
			text-transform: uppercase;
		}

		#property-status label::after{
			content: " |";
			color: black;
		}

		#property-status label:last-child::after{
			content: "";
		}
	
		#property-status input[type="radio"]:checked + label {
    	color: #9a751e;
		}


/* //////////// JCAROUSEL ///////////// */

	.jcarousel-wrapper {
	    width: 600px;
	    position: relative;
	}
	
	/** Carousel **/
	
	.jcarousel {
	    position: relative;
	    overflow: hidden;
	    width: 100%;
	}
	
	.jcarousel ul {
	    width: 20000em;
	    position: relative;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	
	.jcarousel li {
	    width: 200px!important;
	    float: left;
	    border: 1px solid #fff;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.jcarousel img {
	    display: block;
	    max-width: 100%;
	    height: auto !important;
	}
	
	/** Carousel Controls **/
	
	.jcarousel-control-prev,
	.jcarousel-control-next {
	    position: absolute;
	    top: 50%;
	    margin-top: -15px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    background: #4E443C;
	    color: #fff;
	    text-decoration: none;
	    text-shadow: 0 0 1px #000;
	    font: 24px/27px Arial, sans-serif;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	    -webkit-box-shadow: 0 0 4px #F0EFE7;
	    -moz-box-shadow: 0 0 4px #F0EFE7;
	    box-shadow: 0 0 4px #F0EFE7;
	}
	
	.jcarousel-control-prev {
	    left: 15px;
	}
	
	.jcarousel-control-next {
	    right: 15px;
	}
	
	/** Carousel Pagination **/
	
	
	.jcarousel-pagination {
	    position: absolute;
	    bottom: -40px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	    margin: 0;
	}
	
	.jcarousel-pagination a {
	    text-decoration: none;
	    display: inline-block;
	
	    font-size: 11px;
	    height: 10px;
	    width: 10px;
	    line-height: 10px;
	
	    background: #fff;
	    color: #4E443C;
	    border-radius: 10px;
	    text-indent: -9999px;
	
	    margin-right: 7px;
	
	
	    -webkit-box-shadow: 0 0 2px #4E443C;
	    -moz-box-shadow: 0 0 2px #4E443C;
	    box-shadow: 0 0 2px #4E443C;
	}
	
	.jcarousel-pagination a.active {
	    background: #4E443C;
	    color: #fff;
	    opacity: 1;
	
	    -webkit-box-shadow: 0 0 2px #F0EFE7;
	    -moz-box-shadow: 0 0 2px #F0EFE7;
	    box-shadow: 0 0 2px #F0EFE7;
	}


/* //////////// TABS -> RELATED POSTS ///////////// */

	.wpb_tabstabs_holder{
		width: 720px;
		margin-left: 100%;
		margin-bottom: 50px;
		display: inline-block;
		left: -760px;
		position: relative;
	}
	.tabs-nav{width: 100px!important;}
	.q_tabs.vertical.left .tabs-container{width: 400px;}
	.q_tabs.vertical .tabs-nav li a{text-align: left;}
	.q_tabs.vertical .tabs-nav li.active a{border:none; padding: 13px 17px;}
	.q_tabs.vertical.left .tab-content{border: none;}
	.jcarousel li{border: none;}
	
		/*hide navigation*/
		.jcarousel-control-prev,.jcarousel-control-next,.jcarousel-pagination{display: none;}

/* //////////// GALLERY -> LAYERSLIDER ///////////// */

/*  ---- LAYERSLIDER ---- */

	/*//// window resize glitch fix -> class .niema toggled in PB_listing.js ////*/
  	.niema img.ls-bg.ls-preloaded{
    	width: inherit!important;
    	height: inherit!important;
  	}

	.ls-thumbnail{
		margin: 0 0 0 20px;
	}	

  .ls-nav-prev{
    left:15px;
    top:40%;
  }

  .ls-nav-next{
    right:15px;
    top: 40%;
  }

/* //////////// MESSAGE BOXES ///////////// */

	.message_box{position: fixed; top:50px; left:25%; width: 50%; height: 20px; z-index: 1000;}
	.success{display: none;}
	.warning{display: none;}
	.error{display: none;}


/*//////////// ------------- POI ------------------ //////////*/


	/*Main Display Elements */
	/*#poiBox * { font-family: arial, sans-serif; font-size: 12px}*/
	/*#poiBox {width: 800px; border: 4px solid #ddd; height: 500px; padding: 0px; background: #efefef; margin: 0 auto;}*/
	#poi_map {width: 100%; height: 100%; float: left; border: 0px solid #ddd; overflow: hidden; margin-right: -0px; position: absolute; left: 0px !important}
	#poi_sidebar {margin-top: 50px; display: none; width: 55px; right: 0px; float: right; height: 100%; background: #fff;  border: 0px solid #ddd; position: relative; ;overflow:auto; overflow-x: hidden; overflow-y; scroll;margin-bottom: -500px; z-index: 30; box-shadow: -1px 1px 3px -1px #000;}
	
	/* Category List */
	#poiList {margin: 0px; padding: 0px; width: 230px}
	#poiList li {list-style:none;text-indent: 0px; margin: 3px;  background-image: url(../src/poi/images/unchecked.png) ; background-position: 188px 6px; background-repeat:  no-repeat; background-color: #ffffff; height: 30px; line-height: 30px; font-weight: bold; padding: 0px}
	#poiList a {background-position: -0px -12px !important; cursor:pointer; display: block; line-height: 18px; height: 18px; padding: 5px 10px 5px 40px; border: 1px solid #ededed; font-weight: bold; overflow: hidden}
	#poiList a:hover {border: 1px solid #aaa}
	.zero_results {background-color: #eee !important}
	.zero_results:before {
		background: none repeat scroll 0 0 #c31818;
		-webkit-border-radius: 2px; 
		-moz-border-radius: 2px; 
		border-radius: 2px; 
		color: #FFFFFF;
		content: "0";
		display: block;
		font-size: 10px;
		font-weight: bold;
		height: 12px;
		line-height: 12px;
		margin-bottom: -12px;
		margin-right: -12px;
		padding: 0 !important;
		position: relative;
		text-align: center;
		width: 11px;
	}
	
	/* Checked Category */
	.visibleLayer {	background-image: url(../src/poi/images/checked.png)  !important; background-position: 188px 6px; background-repeat:  no-repeat; background-color: #ededed !important;   -moz-border-radius: .6em;   -webkit-border-radius: .6em;   border-radius: .6em; }
	
	/* Category List Hide / Show */
	#listToggle {display: block; height: 24px; line-height: 24px; font-weight: bold; padding-left: 40px;}
	.listVisible {background: url(../src/poi/images/collapseIcon.png) top left no-repeat}
	.listHidden {background: url(../src/poi/images/expandIcon.png) top left no-repeat}
	
	/* Info Window Bubble */
	.gs-result {width: auto; height: auto;}
	.gs-title {font-weight: bold; margin-bottom: 5px;}
	.gs-sv-link {font-weight: bold; color: #009; text-decoration:underline; padding-left: 18px; background: url(../src/poi/images/sv.png) no-repeat left; margin-right: 3px}
	.gs-dd-link {font-weight: bold; color: #009; text-decoration:underline; padding-left: 18px; background: url(../src/poi/images/directions.png) no-repeat left;}
	.gs-customHTML {width: 200px}
	.gs-rating-5 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/5-star.png) top center no-repeat; margin: 3px 0px}
	.gs-rating-4 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/4-star.png) top center no-repeat; margin: 3px 0px}
	.gs-rating-3 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/3-star.png) top center no-repeat; margin: 3px 0px}
	.gs-rating-2 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/2-star.png) top center no-repeat; margin: 3px 0px}
	.gs-rating-1 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/1-star.png) top center no-repeat; margin: 3px 0px}
	.gs-rating-0 {display: block; width: 60px; height: 13px; background: url(../src/poi/images/0-star.png) top center no-repeat; margin: 3px 0px}
	.gs-photo {margin: 5px auto}
	
	/* Loading Spinner */
	#mapLoading {
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	width: 50px; height: 50px; border: 1px solid #ccc;
	 position: relative; background: #fff url(../src/poi/images/loading.gif) center center no-repeat;}
	
	/* Information Box */ 
	#infoBox { display: none; border-top: 2px solid #CCC; width: 95%;  background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.8); padding: 0px 0px; height: 60px;}
	#infoBoxClose {background: url(../src/poi/images/close.png) no-repeat; height: 16px; width: 16px; cursor: pointer; }
	#infoBox h4 {margin: 5px 0px 4px 24px}
	#infoBox p {margin: 0px 8px; font-size: .8em}
	
	/* Street View Box */
	#svFrame {position: absolute; border: 2px solid #ccc; border-right: 7px solid #ccc; width: 90%; height: 70%; background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.8); padding: 0px 0px; z-index: 40}
	#svBox {width: 100%; height: 100%; margin: 0px; border: 2px solid #fff; border-top: 16px solid #fff; background: #fff url(../src/poi/images/loading.gif) center center no-repeat;}
	#svBoxClose {background: url(../src/poi/images/close.png) no-repeat; height: 16px; width: 16px; cursor: pointer;}
	
	/* Directions Box */
	#ddFrame {position: absolute; border: 2px solid #ccc; width: 80%; height: 70%; background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.8); padding: 0px 0px; z-index: 40}
	#ddBox {overflow-y: scroll; width: 97%; height: 92%; margin: 0px; border: 2px solid #fff; border-top: 16px solid #fff; background: #fff  center center no-repeat;}
	#ddBoxClose {background: url(../src/poi/images/close.png) no-repeat; height: 16px; width: 16px; cursor: pointer;}
	#ddBoxPrint {background: url(../src/poi/images/print.png) no-repeat; height: 16px; width: 26px;padding-left: 20px ;left: 4px !important; cursor: pointer; text-decoration: none; color: #66e}
	
	/* Top Controls */
	#overlayControl {left: 40px; top: 10px}
	#searchForm {display: block; float: left; margin-left: 5px; margin-top: -1px; padding-top: 0px}
	#searchTxt {height: 24px; padding: 0px; border: 1px solid #000; width: 260px; padding-left: 5px;  font-weight: bold; margin-right: 3px; margin-bottom: 2px; box-shadow: 1px 1px 3px -1px #444;}
	#searchButton {height: 26px; margin-top: -1px; box-shadow: 1px 1px 3px -1px #444;}
	#geoTarget {display: block; width: 26px; height: 26px; background: url(../src/poi/images/geotarget.png) no-repeat;cursor: pointer; position: absolute; left: 320px; top: -2px}
	#directionsControl{padding: 3px; margin-left: 10px; font-weight: bold; margin-top: -2px; border: 1px solid #888; box-shadow: 1px 1px 3px -1px #444;}
	
	
	/* User Category Search Form */
	#user {background-image: none !important}
	#user form {background: url(../scr/poi/icons/menu/user.png) 0px -12px no-repeat; padding-left: 38px; padding-top: 4px; height: 24px; margin: 0px}
	#userPOITxt {width: 123px}



/*-------- RELATED PROPERTIES ---------*/

.related_properties .caroufredsel_wrapper{cursor: default!important;}
.related_properties .qode_carousels .slides>li{margin-right: 0;}
.related_properties .hover_feature_holder_title{float: left; width: 50%;}
.related_properties .hover_feature_holder_title_inner{color: #fff; text-align: center; margin-top: 20%; margin-bottom: 20%;}
.related_properties .hover_feature_holder_title_inner small{
	font-family: "adobe-caslon-pro", serif;
	font-style: italic;
}
.related_properties .hover_feature_holder_title_inner h5{font-size: 24px; font-weight: 600; color: #fff; line-height: 1em; margin-bottom: 10px; margin-top: 20px}
.related_properties .hover_feature_holder_title_inner span{display: inline-block; font-weight: 300; line-height: 1.2em; margin-bottom: 20px;
text-transform: uppercase;}
.related_properties .hover_feature_holder_title_inner a{border: 1px solid #c4c4c4; padding: 5px 10px; color: #fff; margin-top: 10px;}
.related_properties .carousel_item_holder img{float: left; width:50%;}
.related_properties span.arrow-right{
	position: absolute;
	top: 25%;
	left: 50%;
	border-left-color: rgb(4, 4, 4);
}

/*-------- RECENTLY VIEWED ---------*/

#recently_viewed_header{margin: 20px 0 20px 11%;}
.recently_viewed .hover_feature_holder_title{float: left; width: 50%;}
.recently_viewed .carousel_item_holder img{float: left; width:50%;}
.recently_viewed .hover_feature_holder_title_inner{color: #fff; text-align: center; margin-top: 20%; margin-bottom: 20%;}
.recently_viewed .hover_feature_holder_title_inner h5 {text-transform: none; font-size: 11px; font-weight: 300; color:#000; line-height: 1em; margin-bottom: 10px; margin-top: 20px;}
.recently_viewed .hover_feature_holder_title_inner span{font-size: 11px; font-weight: 300; color:#000; display: inline-block; line-height: 1.2em; margin-bottom: 20px;}
.recently_viewed .hover_feature_holder_title_inner a{border: 1px solid #000; padding: 5px 10px; color: #000; margin-top: 10px;}





	